/* CSS Document */

body {
	margin:0px;
	padding:0px;
	text-decoration:none;
	font-family:"宋体";
	font-size:12px;
	color:#4C4D4D;
	line-height:23px;	
}
a{
color:#4C4D4D;
text-decoration:none;
}
a:hover{
color:#FF6600;
}
.nav{
	font-family:"宋体";
	font-size:12px;
	font-style:normal;
	font-weight: bold;
	color: #0F8EA9;
	padding-top:7px;
}
.rightnav{
font-family:"宋体";
	font-size:12px;
	font-style:normal;
	font-weight: bold;
	color: #0F8EA9;
	padding-bottom:4px;
}
.friend_link{
padding-top:5px;

}
.kczy{
font-family:"宋体";
font-size:12px;
color:#0F8EA9;
font-weight:bold;
padding-top:4px;
}
.time
{
color:#0C758B
}
.tese{
font-family:"宋体";
font-size:12px;
color:#007492;
font-weight:bold;
}
.kczy a{
color:#0F8EA9;
}
